.Home {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.ReceiptApp {
  text-align: center;
  background-color: lightblue;
  min-height: 100vh;

}

@media (min-width: 650px ) {
    .Home {
        background-position: center top;
    }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
